@media (width: 1280px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
  }
}

@media (width: 1280px) {
  .navbar-brand {
    padding-left: 45px;
    margin-left: 88px;
  }
}

@media (width: 1280px) {
  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }
}

@media (width: 1280px) {
  #navcol-1 {
    width: 770px;
    padding-left: 266px;
    border-style: none;
    margin-left: -90px;
  }
}

@media (width: 1280px) {
  .nav.navbar-nav {
    width: 383px;
    margin-left: -34px;
  }
}

@media (width: 1280px) {
  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
  }
}

@media (width: 1280px) {
  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }
}

@media (width: 1280px) {
  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }
}

@media (width: 1280px) {
  #network {
    width: 150px;
    margin-left: 119px;
  }
}

@media (width: 1280px) {
  #attendance {
    margin-left: 55px;
    margin-top: 53px;
    width: 150px;
  }
}

@media (width: 1280px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 83px;
  }
}

@media (width: 1280px) {
  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }
}

@media (width: 1280px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 50px;
  }
}

@media (width: 1280px) {
  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }
}

@media (width: 1280px) {
  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

@media (width: 1280px) {
  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }
}

@media (width: 1280px) {
  .page-footer {
    margin: 0;
  }
}

@media (width: 1280px) {
  .img-fluid {
    width: 25px;
    height: 25px;
  }
}

@media (width: 1280px) {
  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
}

@media (width: 1440px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
  }
}

@media (width: 1440px) {
  .navbar-brand {
    padding-left: 45px;
    margin-left: 88px;
  }
}

@media (width: 1440px) {
  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }
}

@media (width: 1440px) {
  #navcol-1 {
    width: 770px;
    padding-left: 266px;
    border-style: none;
    margin-left: -85px;
  }
}

@media (width: 1440px) {
  .nav.navbar-nav {
    width: 383px;
    margin-left: -34px;
  }
}

@media (width: 1440px) {
  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
  }
}

@media (width: 1440px) {
  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }
}

@media (width: 1440px) {
  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }
}

@media (width: 1440px) {
  #network {
    width: 150px;
    margin-left: 119px;
  }
}

@media (width: 1440px) {
  #attendance {
    margin-left: 55px;
    margin-top: 53px;
    width: 150px;
  }
}

@media (width: 1440px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 83px;
  }
}

@media (width: 1440px) {
  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }
}

@media (width: 1440px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 50px;
  }
}

@media (width: 1440px) {
  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }
}

@media (width: 1440px) {
  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

@media (width: 1440px) {
  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }
}

@media (width: 1440px) {
  .page-footer {
    margin: 0;
  }
}

@media (width: 1440px) {
  .img-fluid {
    width: 25px;
    height: 25px;
  }
}

@media (width: 1440px) {
  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
}

@media (width: 1368px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
  }
}

@media (width: 1368px) {
  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
  }
}

@media (width: 1368px) {
  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }
}

@media (width: 1368px) {
  #navcol-1 {
    width: 770px;
    padding-left: 266px;
    border-style: none;
    margin-left: -38px;
  }
}

@media (width: 1368px) {
  .nav.navbar-nav {
    width: 383px;
    margin-left: -34px;
  }
}

@media (width: 1368px) {
  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
  }
}

@media (width: 1368px) {
  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }
}

@media (width: 1368px) {
  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }
}

@media (width: 1368px) {
  #network {
    width: 150px;
    margin-left: 119px;
  }
}

@media (width: 1368px) {
  #attendance {
    margin-left: 55px;
    margin-top: 53px;
    width: 150px;
  }
}

@media (width: 1368px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 83px;
  }
}

@media (width: 1368px) {
  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }
}

@media (width: 1368px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 50px;
  }
}

@media (width: 1368px) {
  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }
}

@media (width: 1368px) {
  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

@media (width: 1368px) {
  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }
}

@media (width: 1368px) {
  .page-footer {
    margin: 0;
  }
}

@media (width: 1368px) {
  .img-fluid {
    width: 25px;
    height: 25px;
  }
}

@media (width: 1368px) {
  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
}

@media (width: 1440px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
  }
}

@media (width: 1440px) {
  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
  }
}

@media (width: 1440px) {
  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }
}

@media (width: 1440px) {
  #navcol-1 {
    width: 770px;
    padding-left: 266px;
    border-style: none;
    margin-left: -38px;
  }
}

@media (width: 1440px) {
  .nav.navbar-nav {
    width: 383px;
    margin-left: -34px;
  }
}

@media (width: 1440px) {
  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
  }
}

@media (width: 1440px) {
  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }
}

@media (width: 1440px) {
  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }
}

@media (width: 1440px) {
  #network {
    width: 150px;
    margin-left: 119px;
  }
}

@media (width: 1440px) {
  #attendance {
    margin-left: 55px;
    margin-top: 53px;
    width: 150px;
  }
}

@media (width: 1440px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 83px;
  }
}

@media (width: 1440px) {
  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }
}

@media (width: 1440px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 50px;
  }
}

@media (width: 1440px) {
  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }
}

@media (width: 1440px) {
  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

@media (width: 1440px) {
  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }
}

@media (width: 1440px) {
  .page-footer {
    margin: 0;
  }
}

@media (width: 1440px) {
  .img-fluid {
    width: 25px;
    height: 25px;
  }
}

@media (width: 1440px) {
  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
}

@media (width: 1600px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
  }
}

@media (width: 1600px) {
  .row {
    margin-top: 1px;
  }
}

@media (width: 1600px) {
  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
  }
}

@media (width: 1600px) {
  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }
}

@media (width: 1600px) {
  #navcol-1 {
    border-style: none;
    padding-left: 267px;
    width: 889px;
    margin-left: 189px;
  }
}

@media (width: 1600px) {
  .nav.navbar-nav {
    width: 383px;
    margin-left: -34px;
  }
}

@media (width: 1600px) {
  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
    padding-left: 20px;
  }
}

@media (width: 1600px) {
  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }
}

@media (width: 1600px) {
  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }
}

@media (width: 1600px) {
  #network {
    width: 150px;
    margin-left: 119px;
  }
}

@media (width: 1600px) {
  #attendance {
    margin-left: 55px;
    margin-top: 53px;
    width: 150px;
  }
}

@media (width: 1600px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 83px;
  }
}

@media (width: 1600px) {
  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }
}

@media (width: 1600px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 50px;
  }
}

@media (width: 1600px) {
  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }
}

@media (width: 1600px) {
  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

@media (width: 1600px) {
  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }
}

@media (width: 1600px) {
  .page-footer {
    margin: 0;
  }
}

@media (width: 1600px) {
  .img-fluid {
    width: 25px;
    height: 25px;
  }
}

@media (width: 1600px) {
  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
}

@media (width: 1920px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 1920px;
    padding-left: 128px;
  }
}

@media (width: 1920px) {
  .row {
    margin-top: 1px;
  }
}

@media (width: 1920px) {
  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
  }
}

@media (width: 1920px) {
  input {
    width: 619px;
    padding-left: 70px;
    margin-left: 165px;
  }
}

@media (width: 1920px) {
  #navcol-1 {
    border-style: none;
    padding-left: 267px;
    width: 889px;
    margin-left: 493px;
  }
}

@media (width: 1920px) {
  .nav.navbar-nav {
    width: 383px;
    margin-left: -34px;
  }
}

@media (width: 1920px) {
  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
    padding-left: 20px;
  }
}

@media (width: 1920px) {
  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }
}

@media (width: 1920px) {
  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }
}

@media (width: 1920px) {
  #network {
    width: 150px;
    margin-left: 119px;
  }
}

@media (width: 1920px) {
  #attendance {
    margin-left: 55px;
    margin-top: 53px;
    width: 150px;
  }
}

@media (width: 1920px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 83px;
  }
}

@media (width: 1920px) {
  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }
}

@media (width: 1920px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 50px;
  }
}

@media (width: 1920px) {
  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }
}

@media (width: 1920px) {
  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

@media (width: 1920px) {
  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }
}

@media (width: 1920px) {
  .page-footer {
    margin: 0;
  }
}

@media (width: 1920px) {
  .img-fluid {
    width: 25px;
    height: 25px;
  }
}

@media (width: 1920px) {
  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
}

@media (width: 2880px) {
  .navbar.navbar-light.navbar-expand-md {
    margin-left: -114px;
    width: 901px;
    padding-left: 128px;
  }
}

@media (width: 2880px) {
  .row {
    margin-top: 1px;
  }
}

@media (width: 2880px) {
  .navbar-brand {
    padding-left: 45px;
    margin-left: -25px;
  }
}

@media (width: 2880px) {
  input {
    width: 319px;
    padding-left: 70px;
    margin-left: 165px;
  }
}

@media (width: 2880px) {
  #navcol-1 {
    border-style: none;
    padding-left: 267px;
    width: 789px;
    margin-left: 1389px;
  }
}

@media (width: 2880px) {
  .nav.navbar-nav {
    width: 683px;
    margin-left: -34px;
  }
}

@media (width: 2880px) {
  .btn.btn-primary {
    height: 38px;
    margin-left: 18px;
    padding-left: 20px;
  }
}

@media (width: 2880px) {
  #empresa-1 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
  }
}

@media (width: 2880px) {
  #empresa {
    padding: 20px;
    margin: 1px;
    background-color: white;
    padding-top: 101px;
    height: 335.875px;
  }
}

@media (width: 2880px) {
  #network {
    width: 150px;
    margin-left: 119px;
  }
}

@media (width: 2880px) {
  #attendance {
    margin-left: 55px;
    margin-top: 53px;
    width: 150px;
  }
}

@media (width: 2880px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-top: 83px;
  }
}

@media (width: 2880px) {
  #handshake {
    margin-left: 126px;
    margin-top: 49px;
    width: 150px;
  }
}

@media (width: 2880px) {
  .col-sm-6.col-md-7.col-lg-7 {
    margin-left: -4px;
    margin-top: 50px;
  }
}

@media (width: 2880px) {
  #empresa-2 {
    padding: 20px;
    margin: 1px;
    background-color: rgb(228, 240, 255);
    height: 335.875px;
    margin-left: 6px;
    margin-top: 4px;
    padding-top: 105px;
  }
}

@media (width: 2880px) {
  .col {
    padding: 20px 12px;
    padding-left: 233px;
    padding-top: 46px;
    padding-bottom: 46px;
  }
}

@media (width: 2880px) {
  .btn.btn-primary {
    width: 120px;
    height: 50px;
    padding: 6px 30px;
    padding-left: 21px;
  }
}

@media (width: 2880px) {
  .page-footer {
    margin: 0;
  }
}

@media (width: 2880px) {
  .img-fluid {
    width: 25px;
    height: 25px;
  }
}

@media (width: 2880px) {
  .form-control {
    padding-left: -166px;
    margin-left: -4px;
  }
}

@media (width: 2880px) {
  .collapse navbar-collapse {
  }
}

